@charset "utf-8";
body {
	background-color: #CCC;
}
.labelF {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11pt;
	color: #464646;
}
.textC1 {
	color: #663300;
}
    .input, .textarea {
	padding: 5px;
	border: 1px solid #999999;
	outline: 0;
	background: #FFFFFF;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	line-height: 100%;
	font-weight: normal;
	font-variant: normal;
	color: #333;
        }  
      
    .textarea {   
        width: 400px;  
        max-width: 400px;  
        height: 150px;  
        line-height: 150%;  
        }  
      
    .input:hover, textarea:hover,  
    .input:focus, textarea:focus {
	border-color: #C9C9C9;
        } 
		.input:focus, textarea:focus {
	background-color: #333;
	color: #CCC;
        }  
      
    .form label {   
        margin-left: 10px;   
        color: #999999;   
        }  
.submit  {  
        width: auto;  
        padding: 9px 15px;  
        background: #617798;  
        border: 0;  
        font-size: 14px;  
        color: #FFFFFF;  
        }  
.button_sub {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
}.button_sub:hover {
	background-color:#1e62d0;
}.button_sub:active {
	position:relative;
	top:1px;
}
.button_addmore {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button_addmore:hover {
	background-color:#e9e9e9;
}.button_addmore:active {
	position:relative;
	top:1px;
}
