@charset "utf-8";
body {
	background-color: #CCC;
}
.labelF {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11pt;
	color: #464646;
}
.textC1 {
	color: #663300;
}
.unit{
	width:100px;
}
    .input, .textarea {
	padding: 5px;
	border: 1px solid #999999;
	outline: 0;
	background: #FFFFFF;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	line-height: 100%;
	font-weight: normal;
	font-variant: normal;
	color: #333;
	width: 180px;
        }  
      
    .textarea {   
        width: 400px;  
        max-width: 400px;  
        height: 150px;  
        line-height: 150%;  
        }  
      
    .input:hover, textarea:hover,  
    .input:focus, textarea:focus {
	border-color: #C9C9C9;
        } 
		.input:focus, textarea:focus {
	background-color: #333;
	color: #CCC;
        }  
      
    .form label {   
        margin-left: 10px;   
        color: #999999;   
        }  
.submit  {  
        width: auto;  
        padding: 9px 15px;  
        background: #617798;  
        border: 0;  
        font-size: 14px;  
        color: #FFFFFF;  
        }  
.button_sub {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
}.button_sub:hover {
	background-color:#1e62d0;
}.button_sub:active {
	position:relative;
	top:1px;
}
.button_addmore {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button_addmore:hover {
	background-color:#e9e9e9;
}.button_addmore:active {
	position:relative;
	top:1px;
}
  .custom-combobox {
    position: relative;
    display: inline-block;
	font-size:10pt;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
	
  }
  .custom-combobox-input {
    margin: 0;
    padding: 0.3em;
	
  }
	.myinput {
		width:200px;
	}


/*

sw*/
.switch {
  position: relative;
  margin: 5px;
  margin-left:20px;
  height: 26px;
  width: 120px;
  background: #3b3f46;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
  /* Note: left: 50% doesn't transition in WebKit */
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}
.switch-yellow .switch-selection {
  background: #c4bb61;
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}

.mytextarea {
	width:400px;
	background:#333;
}

.myfoodpic {
	width: 100%;
	height: 200px;
	background-position: center center;
	background-size: 100%;
	vertical-align: bottom;
	border-radius: 10px;
	border:5px solid #fff;
	box-shadow:0 0 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.2);
	margin:10px 0 5px 5px;
}
.myfoodpic_title {
    background: rgba(0, 0, 0, .5);
	color:white;
	height:34px;
	font-size:16px;
	position:relative;
	top:160px;
	padding-left:6px;
	padding-top:6px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
